parameters:
	ignoreErrors:
		-
			message: "#^Access to an undefined property Illuminate\\\\Database\\\\Eloquent\\\\Model\\:\\:\\$locale\\.$#"
			count: 1
			path: src/AdminListing.php

		-
			message: "#^Out of 43 possible param types, only 38 \\- 88\\.3 %% actually have it\\. Add more param types to get over 99 %%$#"
			count: 2
			path: src/AdminListing.php

		-
			message: "#^Out of 62 possible return types, only 61 \\- 98\\.3 %% actually have it\\. Add more return types to get over 99 %%$#"
			count: 1
			path: src/Facades/AdminListing.php

		-
			message: "#^Unreachable statement \\- code above always terminates\\.$#"
			count: 6
			path: tests/Feature/AdminListing/ProcessRequestTest.php

		-
			message: "#^Out of 43 possible param types, only 38 \\- 88\\.3 %% actually have it\\. Add more param types to get over 99 %%$#"
			count: 3
			path: tests/TestCase.php

		-
			message: "#^Out of 27 possible property types, only 24 \\- 88\\.8 %% actually have it\\. Add more property types to get over 99 %%$#"
			count: 3
			path: tests/TestNotAModel.php
